/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 18 ene. 2023, 23:05:46
    Author     : Carlos
*/
body{background-color: tan;}
h1{color: maroon; font-size: 30pt}
h2{color: #009999; font-size: 20pt}
p{font-size: 15pt; margin-left: 15px;}
input{font-size: 15pt}